h1 {
  text-align: center;
}
table {
  border: 1px solid #000000;
  table-layout: fixed;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 20px;
}
table th {
  font-weight: bold;
  padding: 5px;
  background: #fbffd8;
  border: 1px solid #dddddd;
}
table td {
  padding: 5px 10px;
  border: 1px solid #000000;
  text-align: left;
}
