Всі завдання мають бути знаходитися у вікритому GitHub репозиторії та бути опублікованими.
В репозиторії має бути налаштований ESLint. Код репозиторію має відповідати стандарту eslint:recommended.

План робіт на 3:
1. Розробити калькулятор з графічним інтерфейсом на чистому js.
2. Розробити сайт на якому в реальному часі буде відображатися поточний курс валют (дані брати з API НБУ).
3. Виконати 10 задач з розділу JavaScript на LeetCode рівня легкий (буде перевірятися на екзамені).

План робіт на 4:
1. Все з плану на 3.
2. 30 легких задач на LeetCode та 5 середнього рівня.
3. Розробити генератор розкладу по вхідному JSON файлу. Приклад файлу додається. Бути готовим, що файл може бути іншим (структура JSON залишиться).

План робіт на 5:
1. Все з плану на 3 та 4.
2. 50 задач легкого рівня з LeetCode та 20 з середнього.
3. Онлайн магазин з адмін-панеллю. Опис вимог до магазину в окремому файлі.


Також можливо розробляти свій проект на 5, але складність проекту має бути >= стандартному рішенню на 5.